MONGO_IMAGE=mongo:6.0.14

MONGO_REPLICA_SET_NAME=rs0

MONGO_ROOT_USERNAME=admin
MONGO_ROOT_PASSWORD=change_this_admin_password_now

MONGO_NODE1_HOST=mongo-node1
MONGO_NODE1_ADDRESS=127.0.0.1
MONGO_NODE1_PORT=27117
MONGO_NODE1_NAME=mongo-rs-node1

MONGO_NODE2_HOST=mongo-node2
MONGO_NODE2_ADDRESS=127.0.0.1
MONGO_NODE2_PORT=27118
MONGO_NODE2_NAME=mongo-rs-node2

MONGO_NODE3_HOST=mongo-node3
MONGO_NODE3_ADDRESS=127.0.0.1
MONGO_NODE3_PORT=27119
MONGO_NODE3_NAME=mongo-rs-node3
